/*neutral*/
* {
	font-family: 'karla', sans-serif;
	}
	.footer,
	.header {
		background-image: url("img/Header.jpg");
		color: white;
	}

	.active_btn
	{
		background-color: rgba(0, 0, 255, 0.5);
	}

	.first_button{
		background-color: rgba(201,46,130,0.7);
	}

	.second_button{
		background-color: rgba(249,181,68,0.7);
	}

	.third_button{
		background-color: rgba(153,200,138,0.7);
	}

	.visite_virtuelle
	{
		background-color: rgba( 0,0,0,1);
	}

	.info_complementaires
	{
		background-color: rgba( 0,0,0,1);
	}

	.vue3D
	{
		background-color: rgba( 0,0,0,1);

	}

	.fixed
	{
		height:100%;
		width:100%;
		position : fixed;
		background-color: rgba(0,0,0,0.7);
		z-index: 2;
		margin-right: auto; 
		margin-left: auto;
	}

	.contenu
	{
		color : white;
		text-align: center;
		width : 80%;
		height : 80vh;
		margin-left: 10%;
		margin-top: 5%;
		background-color: rgba(0,0,0,0.9);
		border-style : outset;
		border-color: rgba(88,223,228,0.9);
	}

	.exitContenu
	{
		width: 50px;
		height: 50px;
	}

	.exitContenu img
	{
		width: 50px;
		height: 50px;
		z-index: 3;
	}



	.bouton_basique
	{
		color:white;
		background: #3498db;
		background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
		background-image: -moz-linear-gradient(top, #3498db, #2980b9);
		background-image: -ms-linear-gradient(top, #3498db, #2980b9);
		background-image: -o-linear-gradient(top, #3498db, #2980b9);
		background-image: linear-gradient(to bottom, #3498db, #2980b9);
		-webkit-border-radius: 28;
		-moz-border-radius: 28;
		border-radius: 28px;
		font-family: Arial;
		font-size: 20px;
		padding: 10px 20px 10px 20px;
		text-decoration: none;

		width: 50%;
		margin: 0 auto; 
	}

.bouton_basique:hover {
	background: #3cb0fd;
	background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
	background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
	background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
	background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
	background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
	text-decoration: none;
}

.header_btn
{


	width : 20%;
	height : 20%;
	margin-left: 10%;
	text-align: center;
	display: inline-block;
	vertical-align: middle;
	-webkit-transform: perspective(1px) translateZ(0);
	transform: perspective(1px) translateZ(0);
	box-shadow: 0 0 1px transparent;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-property: transform;
	transition-property: transform;
}

.header_btn:hover, .header_btn:focus, .header_btn:active {
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
}

.1
{

}
.menu
{
	position: relative;

}


.ctas-button {
	color: #444;
	}@import url('https://fonts.googleapis.com/css?family=Karla:400,700');
	*,
	*:before,
	*:after {
		margin: 0;
		box-sizing: border-box;
	}
	body {
		-webkit-font-smoothing: antialiased;
	}
	/*text*/
	.heading {
		font-weight: 100;
		font-size: 50px;
		line-height: 68px;
	}
	@media (max-width: 900px) {
		.heading {
			font-size: 32px;
			line-height: 40px;
		}
	}
	.subheading {
		font-size: 30px;
		line-height: 40px;
		font-weight: 500;
	}
	@media (max-width: 900px) {
		.subheading {
			font-size: 26px;
			line-height: 35px;
		}
	}
	.paragraph {
		font-size: 17px;
		line-height: 32px;
		font-weight: 100;
	}
	.heading + .paragraph {
		margin-top: 30px;
	}
	.subheading + .paragraph {
		margin-top: 10px;
	}
	p.paragraph {
		color: rgba(0,0,0,.5);
	}
	.logo {
		font-size: 30px;
		line-height: 30px;
		font-weight: 900;
	}
	@media (max-width: 420px) {
		.logo {
			font-size: 22px;
		}
	}
	.nav-link2,
	.nav-link {
		text-decoration: none;
		font-size: 18px;
		line-height: 30px;
		color: inherit;
	}
	.nav-link:not(:first-of-type) {

	}
	.text-center {
		text-align: center;
	}
	.text-right {
		text-align: right;
	}
	/*flexbox styles*/
	.flex,
	.spread,
	.center,
	.right,
	.vertical,
	.centervertical {
		display: flex;
	}
	.spread {
		justify-content: space-between;
	}
	.center {
		align-items: center;
		justify-content: center;
	}
	.centervertical {
		flex-direction: column;
		justify-content: center;
	}
	.right {
		justify-content: flex-end;
	}
	.vertical {
		flex-direction: column;
	}
	/*grid*/
	.col-1,
	.col-2,
	.col-3,
	.col-4,
	.col-5,
	.col-6,
	.col-7,
	.col-8,
	.col-9,
	.col-10,
	.col-11,
	.col-12 {
		padding: 0 20px;
	}
	.col-1 {width: 8.333333%;}
	.col-2 {width: 16.666667%;}
	.col-3 {width: 25%;}
	.col-4 {width: 33.333333%;}
	.col-5 {width: 41.666667%;}
	.col-6 {width: 50%;}
	.col-7 {width: 58.333333%;}
	.col-8 {width: 66.666667%;}
	.col-9 {width: 75%;}
	.col-10 {width: 83.333333%;}
	.col-11 {width: 91.666667%;}
	.col-12 {width: 100%;}

	/*containers*/
	.container-lrg,
	.container-sml {
		margin: auto;
		width: 100%;
	}
	.container-lrg {
		max-width: 1080px;
	}
	.container-sml {
		max-width: 700px;
	}
	.ctas {
		margin: 40px 0 0 0;
	}
	.centerdevices,
	.sidedevices {
		position: relative;
		}.header {

			overflow: hidden;
		}
		.header .heading {
			margin: 120px 0 0 0;
		}
		.header .centerdevices {
			margin: 60px 0 60px;
		}
		@media (max-width: 900px) {
			.header .heading {
				margin-top: 60px;
			}
			}.ctas-input {
				outline: none;
				border: none;
				border-radius: 3px;
				font-size: 15px;
				height: 40px;
				line-height: 40px;
				padding: 0 15px;
				width: 260px;
				display: inline-block;
			}
			.ctas-button {
				display: inline-block;
				margin: 0 0 0 10px;
				height: 40px;
				line-height: 38px;
				padding: 0 30px;
				background: #fff;
				border-radius: 3px;
				font-size: 15px;
				font-weight: 600;
				text-transform: uppercase;
				letter-spacing: .3px;
				border: 1px solid white;
				text-decoration: none;
			}
			@media (max-width: 440px) {
				.ctas-input,
				.ctas-button {
					display: block;
					width: 100%;
					text-align: center;
				}
				.ctas-button {
					margin: 10px 0 0 0;
				}
				}.socialproof {
					padding: 90px 0;
					}.ctas-button,
					.ctas-button-2 {
						display: inline-block;
						height: 40px;
						line-height: 38px;
						padding: 0 30px;
						background: #fff;
						border-radius: 3px;
						font-size: 15px;
						font-weight: 600;
						text-transform: uppercase;
						letter-spacing: .3px;
						border: 1px solid white;
						text-decoration: none;
					}
					.ctas-button-2 {
						background: transparent;
						color: white;
						margin: 0 0 0 10px;
					}
					@media (max-width: 440px) {
						.ctas-button,
						.ctas-button-2 {
							display: block;
							width: 100%;
							text-align: center;
						}
						.ctas-button-2 {
							margin: 10px 0 0 0;
						}
						}.footer {
							padding: 45px 0;
						}
						.footer .nav-link {
							display: inline-block;
							margin: 0 10px;
							}.ctas-button,
							.ctas-button-2 {
								display: inline-block;
								height: 40px;
								line-height: 38px;
								padding: 0 30px;
								background: #fff;
								border-radius: 3px;
								font-size: 15px;
								font-weight: 600;
								text-transform: uppercase;
								letter-spacing: .3px;
								border: 1px solid white;
								text-decoration: none;
							}
							.ctas-button-2 {
								background: transparent;
								color: white;
								margin: 0 0 0 10px;
							}
							@media (max-width: 440px) {
								.ctas-button,
								.ctas-button-2 {
									display: block;
									width: 100%;
									text-align: center;
								}
								.ctas-button-2 {
									margin: 10px 0 0 0;
								}
								}.feature4 {
									padding: 90px 0;
									border-bottom: 1px solid rgba(0,0,0,.1);
								}
								@media (max-width: 900px) {
									.feature4 .sidedevices {
										min-height: inherit;
										margin-top: 60px;
									}
									.feature4 .flex {
										flex-direction: column;
									}
									.feature4	.col-5,
									.feature4	.col-6 {
										width: 100%;
									}
								}